:root{
    --Primary-Color: #263238;
    --Secondary-Color: #455a64;
    --Background-Color: #d4dfe4;
    --Text-Color: #ffffff;
}

body {
    font-family: 'Montserrat', 'Open Sans', 'Poppins', 'Roboto', sans-serif;
    box-sizing: border-box;
}

header {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--Primary-Color);
    overflow: hidden;
    color: var(--Text-Color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    border-radius: 50%;
}

.comp-name{
    padding: 0.3rem;
    line-height: 0.1rem;
    /* margin-right: 20rem; */
    /* flex-wrap: nowrap; */
}

.comp-name h1{
    text-align: center;
    font-size: 2.5rem;
}

.comp-name p{
    margin: 0;
    padding: 0.1rem;
    font-size: 0.7rem;
    flex-wrap: nowrap;
    width: 200px;
    justify-content: center;
    text-align: center;
    color: var(--Text-Color);

}

nav ul li a {
    text-decoration: none;
    color: var(--Text-Color);
    font-size: 1.2rem;
    display: flex;
    /* justify-content: flex-end; */
    padding: 0.3rem;
    /* border-radius: 4px; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--Secondary-Color);
    transform: scale(1.05);
    border-radius: 4px;
    color: var(--Text-Color);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-left: 10rem;
}

/* nav a {
    text-decoration: none;
    color: var();
} */

.theme-toggle-small {
    display: none;
}


.theme-toggle button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.menu-toggle-small {
    display: none;
}

.hero {
    height: 300px; /* Adjust the height as needed */
    overflow: hidden;
    margin-left: 2rem;
    margin-right: 2rem;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

main{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.events {
    background-color: var(--Background-Color);
    width: 60%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.events h2{
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    margin-top: -0.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* padding: 1rem; */
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.events ul{
    list-style-type: none;
    padding: 1rem;
}




.current-weather {
    background-color: var(--Background-Color);
    width: 25%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    /* text-align: center; */
}

.current-weather h2{
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    margin-top: -1.3rem;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.3rem;

}

.current-weather p{
    margin-top: 10px;
    text-align: left;
    padding-left: 6rem;
    margin-top: 0.3rem;
}

.current-weather img{
    /* padding-left: -3em; */
    width: 90px;
    position: absolute;
}



.forecast {
    background-color: var(--Background-Color);
    width: 25%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.forecast h2{
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    margin-top: -1.3rem;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.3rem;

}

.forecast p{
    padding: 0;
    /* margin: ; */
}

.forecast ul li{
    margin-top: 10px;
    list-style-type: none;
    padding: 0;
}

.forecast ul li span{
    font-weight: bold;
}

.view-toggle {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.view-toggle button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    border: none;
    font-size: 1.01rem;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease-out;
}

.view-toggle button:hover {
    background-color: var(--Secondary-Color);
}

.members {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin: 1.3rem;
    justify-content: center;
    align-items: center;
}

.member-card {
    justify-content: center;
    align-items: center;
    background-color: var(--Background-Color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-card h3, p{
    /* display: flex; */
    color: var(--Primary-Color);
}

.member-card p, a{
    color: var(--Primary-Color);
    text-decoration: none;
}

.member-card hr{
    /* color: var(--Primary-Color); */
    border: 2px solid var(--Primary-Color);
}

.member-card img {
    width: 90px;
    height: auto;
    border-radius: 50%;
    /* margin-bottom: 1rem; */
}

.members.list {
    display: block;
}

.members.list{
    width: 100%;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    background-color: var(--Primary-Color);
}

footer p, a{
    margin: 0;
    padding: 0.1rem;
    color: var(--Text-Color);
}

footer .left .hliha {
    font-weight: bold;
}


footer .center {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

footer .center a {
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

footer .center a img {
    /* width: 24px;  */
    /* height: 24px; */
    transition: opacity 0.3s ease;
}

footer .center a img:hover {
    opacity: 0.7;
}


.dark-mode {
    background-color: #333;
    color: #f8f9fa;
}

.dark-mode header,
.dark-mode footer {
    background-color: #444;
    border-color: #555;
}

.dark-mode nav a {
    color: #f8f9fa;
}