:root{
    --Primary-Color: #263238;
    --Secondary-Color: #455a64;
    --Background-Color: #d4dfe4;
    --Text-Color: #ffffff;
    /* --animation-delay: 0s;  */
    /* --rotate-angle: 0deg; */
}

body {
    font-family: 'Montserrat', 'Open Sans', 'Poppins', 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    background-color: var(--Primary-Color);
    overflow: hidden;
    color: var(--Text-Color);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 60px;
    border-radius: 50%;
}

.comp-name{
    padding: 0.3rem;
    /* margin-right: 20rem; */
    /* flex-wrap: nowrap; */
}

.comp-name .company{
    line-height: 2.9rem;
    text-align: center;
    font-size: 2.5rem;
}

.comp-name p{
    margin: 0px;
    padding: 0.1rem;
    font-size: 0.7rem;
    flex-wrap: nowrap;
    width: 200px;
    justify-content: center;
    text-align: center;
    color: var(--Text-Color);

}

nav ul li a {
    text-decoration: none;
    color: var(--Text-Color);
    font-size: 1.2rem;
    display: flex;
    /* justify-content: flex-end; */
    padding: 0.3rem;
    /* border-radius: 4px; */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav ul li a:hover {
    background-color: var(--Secondary-Color);
    transform: scale(1.05);
    border-radius: 4px;
    color: var(--Text-Color);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    gap: 1rem;
    margin-left: 10rem;
}

#theme-toggle-button {
    text-align: center;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: transparent;
}

#theme-toggle-button img{
    width: 30px;

}


.menu-toggle-small {
    display: none;
}

.hero {
    /* height: 300px;  */
    /* overflow: hidden; */
    margin-left: 2rem;
    margin-right: 2rem;
    position: relative;
    text-align: center;
    color: white;
}

.hero img {
    width: 100%;
    height: auto;
    /* display: block; */
    opacity: 0.7;
}

.hero-text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-text p{
    font-size: 3rem;
    /* margin: 0.5rem 0 0; */
    line-height: 5rem;
    background: var(--Secondary-Color);
    opacity: 0.87;
    color: white;
    font-weight: bold;

}

.call-to-action{
    text-align: center;
    margin: 2rem 0;
}

.cta-button{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 8px;
    transition: background-color 0.3s ease-out;
}

.cta-button:hover{
    background-color: var(--Secondary-Color);
}

main{
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;

}

.container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 2rem;
}

.home .spotlights-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.spotlight-card {
    background-color: var(--Background-Color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%; /* Adjust the width as needed */
}

.spotlight-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

.spotlight-card h3 {
    font-size: 1.5rem;
    color: var(--Primary-Color);
    margin-bottom: 0.5rem;
    text-align: center;
}

.spotlight-card p {
    margin: 0.5rem 0;
}

.spotlight-card a {
    color: var(--Primary-Color);
    text-decoration: none;
}

.spotlight-card a:hover {
    text-decoration: underline;
}



.events {
    background-color: var(--Background-Color);
    width: 60%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.events h2{
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    margin-top: -0.1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /* padding: 1rem; */
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.3rem;
}

.events ul{
    list-style-type: none;
    padding: 1rem;
}

.events ul li {
    /* background-color: var(--Primary-Color); */
    /* color: var(--Text-Color); */
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    /* border-radius: 4px; */
    box-shadow: 0 1px 2px rgba(16, 8, 59, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    opacity: 0.9;
    cursor: pointer;
}

.events ul li:hover {
    transform: translateY(-3px);
    box-shadow: 0 2px 4px rgba(121, 40, 40, 0.2);
    border-left: 3px solid var(--Primary-Color);
}




.current-weather {
    background-color: var(--Background-Color);
    width: 25%;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    justify-content: center;
}

.current-weather h2{
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    margin-top: -1.3rem;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.3rem;

}

.current-weather p{
    margin-top: 10px;
    text-align: left;
    /* padding-left: 6rem; */
    /* height: 20vh; */
    margin-top: 0.3rem;
    text-align: center;
    align-items: center;
}

.current-weather img{
    /* padding-left: -3em; */
    width: 90px;
    /* position: absolute; */
}



.forecast {
    background-color: var(--Background-Color);
    width: 25%;
    padding: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.forecast h2{
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    margin-top: -1.3rem;
    margin-left: -1.3rem;
    margin-right: -1.3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    font-size: 1.3rem;

}

.forecast p{
    padding: 0px;
    /* margin: ; */
}

.forecast ul {
    list-style-type: none;
    padding: 0;
}

.forecast ul li{
    background-color: var(--Secondary-Color);
    margin-bottom: 0.5rem;
    list-style-type: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    color: var(--Text-Color);
    font-size: 1rem;
}

.forecast ul li:hover {
    transform: translateY(-2px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.forecast ul li span{
    font-weight: bold;
}


.view-toggle {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.view-toggle button {
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: var(--Primary-Color);
    color: var(--Text-Color);
    border: none;
    font-size: 1.01rem;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s ease-out;
}

.view-toggle button:hover {
    background-color: var(--Secondary-Color);
}

.members {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 1rem;
    margin: 1.3rem;
    justify-content: center;
    align-items: center;
}

.member-card {
    justify-content: center;
    align-items: center;
    background-color: var(--Background-Color);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.member-card h3, p{
    /* display: flex; */
    color: var(--Primary-Color);
}

.member-card p, a{
    color: var(--Primary-Color);
    text-decoration: none;
}

.member-card hr{
    /* color: var(--Primary-Color); */
    border: 2px solid var(--Primary-Color);
}

.member-card img {
    width: 90px;
    height: auto;
    border-radius: 50%;
    /* margin-bottom: 1rem; */
}

.members.list {
    display: block;
}

.members.list{
    width: 100%;
    margin-bottom: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
    background-color: var(--Primary-Color);
}

footer a{
    margin: 0rem;
    padding: 0.1rem;
    color: var(--Text-Color);
}
footer p{
    color: var(--Text-Color);
}

.left, p, a {
    color: black;
}

footer .left .hliha {
    font-weight: bold;
}


footer .center {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex: 1;
}

footer .center a {
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

footer .center a img {
    /* width: 24px;  */
    /* height: 24px; */
    transition: opacity 0.3s ease;
}

footer .center a img:hover {
    opacity: 0.7;
}


.dark-mode {
    background-color: #333;
    /* color: #f8f9fa; */
}

.dark-mode header,
.dark-mode footer {
    background-color: #444;
    border-color: #555;
}

.dark-mode nav a {
    color: #f8f9fa;
}